VisitorLog/Service References/VisitorLogService/VisitorLogService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VisitorLogService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VisitorLogService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfVisitLog">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VisitLog" nillable="true" type="tns:VisitLog" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVisitLog" nillable="true" type="tns:ArrayOfVisitLog" />
  <xs:complexType name="VisitLog">
    <xs:sequence>
      <xs:element minOccurs="0" name="Action" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Entity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Prescreened" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Sublocation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="datestamp" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VisitLog" nillable="true" type="tns:VisitLog" />
</xs:schema>